<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/listings">
        <img src="https://lh3.google.com/u/0/d/1sxQnO2DYWd4Wy_d8ysym24u1GZIL_-jl=w1920-h929-iv1" alt="tootle-logo" style="width: 60px;" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav float-end">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/new">Add Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings">Listings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>