
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Staycation</title>
</head>
<body>
    <% for(let list of lists) { %>
        <div>
            <h1><%= list.name %></h1>
            <strong><p>Uploader: </strong><%= list.uploader %></p>
            <strong></strong><p><%= list.description %></p>
            <strong><p>Address: </strong><%= list.address %></p>
        </div>
    <% } %>
    
</body>
</html>