<title>Add new Listing | Tootle</title>
<% layout('/layouts/boilerplate') -%>
    <div class="container shadow-lg rounded-3 p-5 my-5">
    <form class="row g-3 container my-5" action="/listings" method="post">
        <h1 class="fw-bold">Add a Listing</h1>
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="name form-control" id="inputEmail4" required>
        </div>
        <div class="col-md-6">
          <label for="address" class="form-label">Address</label>
          <input type="text" name="address" class="form-control tags" id="address" autocomplete="off" required>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" class="form-control" id="description" cols="100" rows="10"></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary px-4 my-1">Add</button>
          <a href="/listings" class="btn btn-danger" my-1>Cancel</a>
        </div>

        <input type="hidden" name="lat" id="lat" value="<%=city_list[12].address%>">
        <input type="hidden" name="lng" id="lng" value="<%=city_list[12].address%>">

      </form>
    </div>


      <script>  

        var location_info = <%-city_list%>;
        var search_result = () => {
            let list_loc = [];
            const d = ()=>{
              for(let list of location_info){
                list_loc.push(list.city+", "+list.admin_name)
              }
            }
            d();
            return list_loc;
          };

        var lists = search_result();
          
        $( function() {
          $( ".tags" ).autocomplete({
            source: lists
          });
        } );

    </script>
